
/**************************************
	^Begin navbar^
**************************************/
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Serif';
  }

.nav {
  background-color: #4CAF50;
  color: #ffffff;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0;
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}

.nav > li a {
  text-decoration: none;
  color: #ffffff;
}

.nav > li a:hover {
  color: #5293fa;
}



/**************************************
	^einde navbar^
**************************************/



/**************************************
	^Begin Parralax^
**************************************/

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}


/**************************************
	Content styles
**************************************/

@media (min-width: 600px) {

section.content h2 { font-size: 42px; }

section.content p { font-size: 20px; }
}

section.content { padding: 40px 0; }

section.content h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

section.content p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.content p:last-child { margin-bottom: 0; }

/**************************************
	Parralax styles
**************************************/

section.parallax {
  position: relative;
  height: auto;
  padding: 180px 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.parallax:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 100;
  content: ' ';
}

section.parallax h1 {
  color: #fff;
  position: relative;
  z-index: 101;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/**************************************
	Parralax blocks
**************************************/

section.parallax.parallax-1 {
  background-image: url(" http://mrg.bz/NX7dM2");
  background-position: 100% 100%;
}

section.parallax.parallax-2 { background-image: url("http://mrg.bz/Sx6za9"); }

section.parallax.parallax-3 { background-image: url("http://mrg.bz/EYfH7p"); }
/**************************************
Einde Parralax
**************************************/


/**************************************
Begin Button
**************************************/
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: center-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.wrapper {
  text-align: center;
}
/**************************************
Einde Button
**************************************/

/**************************************
Begin Footer
**************************************/


@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  body {
  	margin: 0px;
  	padding: 0px;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    } 
  }
  #{$footer-selector} {
    height: $footer-height; 
  }
}

/**
 * the sticky footer implementation
 **/
@include sticky-footer(30px);

/**
 * other styling just to make the demo more appealing
 **/
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

html,body,#wrapper,#container,#footer {
  width:100%;
}
#wrapper2 {
  background: #F3F3F3;
}
p {
  margin: 0;
  padding: 5% 0 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.5em;
  color: #555;
  letter-spacing: 0.05em;
  text-align: center;
}
#footer {
  background: #F7A9B9;
}



/**************************************
Einde Footer
**************************************/